    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4">
          </div>
        </div>
        <div class="row">
          <div class="col ml-auto text-center">
            <a href="https://gitter.im/opendp/Lobby"><i class="fab fa-gitter fa-3x mb-3 sr-contact bounceIn"></i></a>
          </div>
          <div class="col mr-auto text-center">
            <a href="mailto:opendp-dev@googlegroups.com"><i class="far fa-envelope fa-3x mb-3 sr-contact bounceIn"></i></a>
            <p>
              <a href="mailto:opendp-dev@googlegroups.com">Developer Mailing List</a>
            </p>
            <p>
                <a href="mailto:opendp-team@googlegroups.com">Contact the team</a>
              </p>
          </div>
          <div class="col ml-auto text-center">
            <a href="https://github.com/opendp"><i class="fab fa-github fa-3x mb-3 sr-contact bounceIn"></i></a>
          </div>
          <div class="col ml-auto text-center">
              <a href="https://github.com/opendp"><i class="fab fa-twitter fa-3x mb-3 sr-contact bounceIn"></i></a>
          </div>
        </div>
      </div>
    </section>

