<section class="bg-primary-gradient" id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
                <hr class="light my-4">
            </div>
        </div>
    </div>            
    <div class="container">
        <div class="row">
          <div class="text-center col-lg-4 col-md-6">
            <i class="fas fa-cloud fa-5x"></i>
            <h2>Cloud agnostic</h2>
            <p class="text-justify">Run as vagrant boxes, on AWS or extend to any other cloud platform. You might even work on multi-cloud environments.</p>
          </div>
          <div class="text-center col-lg-4 col-md-6">
            <i class="icon big rounded fas fa-paper-plane fa-5x"></i>
            <h2>Flexible</h2>
            <p class="text-justify">The documentation explains every piece of software used, so you can replace single or multiple building blocks with other
            systems that support your quality requirements better.</p>
          </div>
          <div class="text-center col-lg-4 col-md-6">
            <i class="icon big rounded fas fa-users fa-5x"></i>
            <h2>Designed for CD</h2>
            <p class="text-justify">The platform is focused on providing all the things required for an (opinionated) software development process.</p>
          </div>
          <div class="text-center col-lg-4 col-md-6">
            <i class="icon big rounded fas fa-arrow-up fa-5x"></i>
            <h2>High Availablity</h2>
            <p class="text-justify">The individual components are set up in HA mode. The production environment of your developers should be available, always and you as a CD engineer need an environment to learn about the HA concepts.</p>
          </div>
          <div class="text-center col-lg-4 col-md-6">
            <i class="icon big rounded fas fa-comments fa-5x"></i>
            <h2>Learning</h2>
            <p class="text-justify">The system was built with learning in mind. This is why a comprehensive book on "how to build an CD platform" is included.
            Discussion and contributions are welcome.</p>
          </div>
        </div>
        <div class="row">
              <div class="col mx-auto text-center">
                <a class="btn btn-secondary btn-xl js-scroll-trigger" href="#technologies">Technologies</a>
              </div>    
        </div>
    </div>
</section>
