    <!-- Bootstrap core JavaScript -->
    <script src="{{site.url}}{{ site.baseurl }}/vendor/jquery/jquery.min.js"></script>
    <script src="{{site.url}}{{ site.baseurl }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{{site.url}}{{ site.baseurl }}/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="{{site.url}}{{ site.baseurl }}/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="{{site.url}}{{ site.baseurl }}/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    