<section id="technologies">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Technologies</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <a href="https://nomadproject.io"><img src="{{site.baseurl}}/img/logos/nomad.png"/></a>
          <h3 class="mb-1">Nomad</h3>
          <h4 class="mb-1">Cluster Scheduler</h4>
          <p class="text-muted text-justify mb-0">Flexible cluster scheduler to automate deployment of any application on any infrastructure at any scale.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <a href="https://terraform.io"><img src="{{site.baseurl}}/img/logos/terraform.png"/></a>
          <h3 class="mb-1">Terraform</h3>
          <h4 class="mb-1">Infrastructure Provisioning</h4>
          <p class="text-muted text-justify mb-0">Write, plan and create infrastructure as code. Provisions infrastructure on private or public clouds.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <a href="https://www.ansible.com"><img src="{{site.baseurl}}/img/logos/ansible.png"/></a>
          <h3 class="mb-1">Ansible</h3>
          <h4 class="mb-1">Configuration Management</h4>
          <p class="text-muted text-justify mb-0">Deploys all the applications that are inside ODP. It is an agentless configuration management and application deployment tool.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <a href="https://fabiolb.net/"><img src="{{site.baseurl}}/img/logos/fabiolb.png"/></a>
          <h3 class="mb-1">fabio</h3>
          <h4 class="mb-1">Modern Load Balancing</h4>
          <p class="text-muted text-justify mb-0">
            Consul load balancing made simple. Fabio is an HTTP and TCP reverse proxy that configures itself with data from Consul.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <a href="https://www.docker.com"><img src="{{site.baseurl}}/img/logos/docker.png"/></a>
          <h3 class="mb-1">Docker</h3>
          <h4 class="mb-1">Container Platform</h4>
          <p class="text-muted text-justify mb-0">Used to ship containers, so you are independent of the underlying OS. This is the key for portability across different hosts, systems and platforms.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <a href="https://coreos.com/clair/"><img src="{{site.baseurl}}/img/logos/clair.png"/></a>
          <h3 class="mb-1">Clair</h3>
          <h4 class="mb-1">Vulnerability Static Analysis for Containers</h4>
          <p class="text-muted text-justify mb-0">Vulnerability data is continuously imported from a known set of sources and correlated with the indexed contents of container images in order to produce lists of vulnerabilities that threaten a container.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <a href="http://port.us.org/"><img src="{{site.baseurl}}/img/logos/portus.png"/></a>
          <h3 class="mb-1">Portus</h3>
          <h4 class="mb-1">Container Registry</h4>
          <p class="text-muted text-justify mb-0">Portus is an open source authorization service and user interface for the next generation Docker Registry.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <a href="https://www.graylog.org/"><img src="{{site.baseurl}}/img/logos/graylog.jpg"/></a>
          <h3 class="mb-1">Graylog</h3>
          <h4 class="mb-1">Log Management</h4>
          <p class="text-muted text-justify mb-0">Collect and process logs and event data, so can analyze and search through logs easily. Create dashboards, visualize metrics and observe trends in one central location.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <a href="https://prometheus.io/"><img src="{{site.baseurl}}/img/logos/prometheus.png"/></a>
          <h3 class="mb-1">Prometheus</h3>
          <h4 class="mb-1">Monitoring and alerting toolkit</h4>
          <p class="text-muted text-justify mb-0">
            Prometheus is an open-source systems monitoring and alerting toolkit, that works well for recording any purely numeric time series. It fits both machine-centric monitoring as well as monitoring of highly dynamic service-oriented architectures.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <a href="https://about.gitlab.com/"><img src="{{site.baseurl}}/img/logos/gitlab.png"/></a>
          <h3 class="mb-1">Gitlab</h3>
          <h4 class="mb-1">Version Control & CI</h4>
          <p class="text-muted text-justify mb-0">Create value faster with a single application for the whole software development and operations lifecycle.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <a href="https://vaultproject.io/"><img src="{{site.baseurl}}/img/logos/vault.png"/></a>
            <h3 class="mb-1">Vault</h3>
            <h4 class="mb-1">A Tool for Managing Secrets</h4>
            <p class="text-muted text-justify mb-0">Vault secures, stores, and tightly controls access to tokens, passwords, certificates, API keys, and other secrets in modern computing.</p>
          </div>
        </div>
      </div>
  </div>
</section>
