#contact .fa-twitter {
    color: $primary;
    &:hover {
      background: $white;
    }
}

#contact .fa-envelope {
  color: $primary;
  &:hover {
    background: $white;
    color: $primary;    
  }
}
