<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
  {% include nav.html %}
    <section>
      <div class="container">
          <div class="row">
            <div class="col-lg-9">
              {{content}}
            </div>
            <div class="col-lg-3">
              {% if page.is_post %}
                {% include toc.html html=content h_min=2%}
              {% endif %}
            </div>
          </div>
      </div>
    </section>
    {% include scripts.html %}
    {% include footer.html %}
  </body>
</html>
